<h1> LCSaveEditor v1.0</h1>

<p>
  > Greetings, valued contractors of The Company.
</p>

<p>
  > I present you with the LCSaveEditor v1.0, an unauthorized web tool designed to enhance your <%= link_to "Lethal Company", "https://store.steampowered.com/app/1966720/Lethal_Company/", target: "_blank" %> experience. Key features include:
</p>

<ol>
  <li>Create and share save files</li>
  <li>Customize balance and quotas</li>
  <li>Customize suits and ship decorations</li>
  <li>Manage gear and scrap (coming soon)</li>
  <li>Manage bestiary records (coming soon)</li>
</ol>

<p>
  > You can <%= link_to "sign up", new_user_path %> in case you want to create and update your own saves, allowing you to share them with your friends and family.
</p>

<p>
  > This is my love letter to <%= link_to "Lethal Company", "https://store.steampowered.com/app/1966720/Lethal_Company/", target: "_blank" %>, a game that has gave me good laughs and allowed me to meet new people. Thank you.
</p>

<p>
  > Good luck, have fun.
</p>
<p>
  > Sign, <%= link_to "@kinduff", "https://kinduff.com", target: "_blank" %>.
</p>
