<div id="<%= dom_id save %>">
  <p>
    <strong>Title:</strong>
    <%= save.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= save.description %>
  </p>

  <p>
    <strong>Save data:</strong>
    <%= save.save_data_to_ordered_json %>
  </p>

</div>
