<fieldset id="<%= dom_id save %>">
  <legend><%= link_to "#{save.title} by #{ save.user.username}", save %></legend>

  <p><%= save.description %></p>
  <%= save.save_data_to_ordered_json %>
</fieldset>
