<h1>All saves</h1>

<p>
<marquee>New! Stories and bestiary data, make sure to update your saves!</marquee>
</p>

<p>> <%= link_to "New save", new_save_path %></p>

<div id="saves">
  <% @saves.each do |save| %>
    <%= render save %>
  <% end %>
</div>
