/*
*= require_tree .
*= require_self
*/

 @font-face {
  font-family: "Perfect DOS VGA 437";
  src: url("PerfectDOSVGA437.woff2") format("woff2"),
      url("PerfectDOSVGA437.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IBM 3270";
  src: url("3270-Regular.woff2") format("woff2"),
      url("3270-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IBM 3270 Condensed";
  src: url("3270Condensed.woff2") format("woff2"),
      url("3270Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IBM 3270 Semi-Condensed";
  src: url("3270SemiCondensed.woff2") format("woff2"),
      url("3270SemiCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #000;
  color: #58c736;
  font-family: "Perfect DOS VGA 437";
  font-size: 20px;
  cursor: url("ItStealsCursor.png"), auto;
  margin: 0;
}

a, button, input {
  cursor: url("ItStealsCursor.png"), auto;
}

a {
  color: #58c736;
}

canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 840px;
  max-height: 100dvh;
  height: 100dvh;
  box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
  background: #1e5e10;
  border-radius: 2rem;
  border: 2.5rem solid;
  border-bottom-color: #161616;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
  overflow: hidden;
}

.wrapper > div {
  max-height: 100%;
  padding: 2rem;
}

.wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
  background-image: url('crt.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: normal;
  color: #50eb21;
}

.field {
  padding-bottom: 1rem;
}

.field label {
  padding-bottom: 0.5rem;
  display: block;
  color: #50eb21;
}

input, textarea {
  display: block;
  width: 100%;
  border: 3px solid #3a8524;
  background: transparent;
  color: #FFF;
  padding: 0.6rem;
  font-size: 20px;
  font-family: "Perfect DOS VGA 437";
}

textarea {
  resize: none;
}

fieldset {
  margin-bottom: 2rem;
  border: 3px solid #3a8524;
}

fieldset legend {
  background: #3a8524;
  color: #FFF;
  padding: 7px 15px;
  margin-bottom: 10px;
}
