/*
*= require normalize
*= require crt
*= require grow-wrap
*= require_self
*/

 @font-face {
  font-family: "Perfect DOS VGA 437";
  src: url("PerfectDOSVGA437.woff2") format("woff2"),
      url("PerfectDOSVGA437.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #000;
  color: #58c736;
  font-family: "Perfect DOS VGA 437";
  font-size: 20px;
  cursor: url("ItStealsCursor.png"), auto;
  margin: 0;
  padding: 1.5rem 0;
}

a, button, input, label {
  cursor: url("ItStealsCursor.png"), auto;
}

a {
  color: #58c736;
}

canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  max-height: calc(100dvh - 3rem);
  height: calc(100dvh - 3rem);
  box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
  background: #1e5e10;
  border-radius: 2rem;
  border: 2.5rem solid;
  border-bottom-color: #161616;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
  overflow: hidden;
}

.wrapper > div {
  max-height: 100%;
  padding: 2rem;
  overflow-y: auto;
}

.wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
  background-image: url('crt.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: normal;
  color: #50eb21;
}

.field {
  padding-bottom: 1rem;
}

.field label {
  padding-bottom: 0.5rem;
  display: block;
  color: #50eb21;
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"], textarea, button {
  display: block;
  width: 100%;
  border: 3px solid #3a8524;
  background: transparent;
  color: #FFF;
  padding: 0.6rem;
  font-size: 20px;
  font-family: "Perfect DOS VGA 437";
}

input[type="submit"], button {
  width: auto;
}

textarea {
  resize: none;
}

fieldset {
  margin-bottom: 2rem;
  border: 3px solid #47a72a;
  padding: 1rem;
}

fieldset legend {
  background: #3a8524;
  color: #FFF;
  padding: 7px 15px;
}

fieldset legend a {
  color: #FFF;
  text-decoration: none;
}

.box {
  border: 3px solid #47a72a;
  padding: 1rem;
}

.with-columns {
  column-count: 3;
  column-width: 200px;
  column-gap: 1rem;
}

.checkbox {
  padding-left: 35px;
  user-select: none;
  position: relative;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 3px solid #47a72a;
}

.checkbox input:checked ~ .checkmark {
  background-color: #FFF;
}

.form-as-link {
  display: inline-block;
}

.form-as-link button {
  border: none;
  padding: 0;
  text-decoration: underline;
  color: #58c736;
}
